@model List<Alumni>

@{ Layout = "_LayoutAkun"; }

<h1>Detail Data Alumni</h1>
<hr />
    @foreach (var data in ViewBag.details)
    {
        <p> NIM            : @data.NIM </p>
        <p> Nama Alumni    : @data.Nama_alumni </p>
        <p> Tahun Angkatan : @data.Tahun_angkatan </p>
        <p> Jenis Kelamin  : @data.Jenis_kelamin </p>
        <p> Tempat Lahir   : @data.Tempat_lahir </p>
        <p> Tanggal Lahir  : @data.Tanggal_lahir </p>
        <p> Pekerjaan      : @data.Pekerjaan </p>
        <p> Alamat         : @data.Alamat </p>
        <p> Telp           : @data.Telp </p>
        <p> Foto           : <img src="@data.Foto" alt="Alternate Text" />@data.Foto </p>
        <br />
        <br />
        <a asp-area="Admin" asp-action="Update" asp-route-id="@data.NIM">Edit</a>
    }
    <a asp-action="Index">Kembali</a>
    <br />
